# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv

# IDEs
.vscode/
.idea/
.DS_Store

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Database
*.sqlite
*.sqlite3

# Test coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
